body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  background-color: #ffffff;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}
address {
  font-style: normal;
}
.web {
  color: #4d5ae5;
}
.studio {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.navigation:hover,
.navigation:focus {
  color: #404bbf;
}

.navigation {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.nav2:hover {
  color: #4d5ae5;
}

.nav2 {
  color: #434455;

  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}
.section {
  background-color: #2e2f42;
}
.h1 {
  color: #ffffff;

  font-weight: 700;
  font-size: 56px;
  line-height: 107%;
  letter-spacing: 0.02em;
}
.button {
  color: #ffffff;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
  cursor: pointer;
}
.button:hover {
  background-color: #404bbf;
}
.benefits {
  color: #ffffff;
}
.strategy {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
}
.pp {
  color: #434455;

  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
}
.our-team {
  background-color: #f4f4fd;
}
.h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}
.section1 {
  background-color: #2e2f42;
}
.studio1 {
  color: #f4f4fd;
}
.web1 {
  color: #4d5ae5;
}
.over {
  color: #f4f4fd;
}
